@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body {
    background: #000A1F;
}

header {
    height: 10vh;
}
#header-img {
   width: 15%;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Bree Serif', serif;
    text-align: center;
    color: #DEB862;

    font-style: normal;
    font-size: 52px;
    line-height: 71px;
    letter-spacing: 0.07em;
}

.central {
    display: block;
    text-align: center;
    height: 80vh;
    position: relative;
}

.central #central-img {
    position: absolute;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.box-game {
    width: 37rem;
    height: 33rem;
    background-color: #FFFFFF;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-radius: 0.5rem;
}

.box-game-cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 6%;
    padding: 4%;

    background: #FCFCFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px 8px 0px 0px;
}

.box-game-cabecalho p {
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: 0.07em;

    color: #000000;
}

.box-game-cabecalho .tentativas {
    background: #DEB862;
    border-radius: 8px;

    height: 2.5rem;
    width: 5rem;
}

.box-game-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 64%;
}

.box-game-conteudo .input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.box-game-conteudo .input label{
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.07em;
    
    color: #000000;
}

.box-game-conteudo .input input{
    background: #FFFFFF;
    border: 2px dashed #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    height: 15%;
    width: 60%;
    margin: auto;
    align-items: center;
    padding: 2.5%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button {
    background: #333A4A;
    border-radius: 8px;
    width: 7.5rem;
    height: 2.875rem;
    /* margin: 0 auto; */

    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.07em;

    color: #FFFFFF;
}

.result {

    background: #FFFFFF;
    border: 2px dashed #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 10%;
    width: 80%;
    margin: auto;
    align-items: center;
    padding: 2%;

    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 22px;
    letter-spacing: 0.07em;
    /* display: flex;
    box-sizing: border-box;
    user-select: none; */
}


footer {
    /* text-align: end;
    margin-bottom: 0; */
    height: 10vh;
    position: absolute;
    bottom: 30%;
    right: 0;
}